{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- styles lock -->
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    {% endblock %}

    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title> Sparrow News </title>
    {% endif %}

</head>

<body id="body">

    <!-- Navbar block  -->
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    <!-- content block -->
    {% block content %}

    {% endblock %}

    <!-- footer block -->
    <!-- footer block -->
    {% block footer %}

    <section style="margin: 10em; background-color:black;">
        <p>made with passion</p>
    </section>

    {% endblock %}
</body>


</html>